node_modules
__pycache__
*.pyc 
tmp/
Udemy/Python/Day39/credentials.json
Udemy/Python/Day30/data.json
Bedu/JavaScript/Clase-2-JS
.DS_STORE
Udemy/React/Client-Administrator
Bedu/Python/TECP0006FSPYOL2109
Bedu/JavaScript/modulojs