<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header class="main-header">
    <nav class="main-header-nav">
      <ul class="main-header__item-list">
        <li class="main-header__item"><a class='active' href="/">Home</a></li>
        <li class="main-header__item"><a href="/inventory">inventory</a></li>
      </ul>
    </nav>

  </header>
    <div class="producto">
    <img class="imagen-producto"src="/img/Bicicleta.jpg" alt="imagen bicicleta">
    <div class="texto">
      <h2 class="titulo">Bicicletas</h2>
      <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, ducimus id reiciendis nisi corporis iure, alias tenetur atque totam facere aut eveniet minima possimus animi eius tempora quidem iste deleniti?

      </p>
    </div>
  </div>
    <div class="producto">
    <img class="imagen-producto"src="/img/Drogas.jpg" alt="imagen drogas">
        <div class="texto">
      <h2 class="titulo">Drogas</h2>
      <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati neque numquam, nam animi commodi quibusdam unde odit ipsum provident eligendi velit dolor optio id dignissimos enim ducimus architecto hic dolorem.</p>
    </div>
  </div>
  
</body>
</html>